# For `make lint`
flake8
flake8-docstrings
flake8-quotes

# For `make package`
wheel

# For `make publish`
twine

# For `make test-coverage`
coveralls

# For `make test{,-*}`
mock
pytest
pytest-cov
pytest-watch
